.card{
    margin:auto;
    margin-top: 10%;
   
    width:50%;
}
.card-header{
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(197, 82, 5);
}
.btn {
    background-color: rgb(197, 82, 5);
    color: black
}
form{
margin: auto;
}