
<div class="header">
    <mat-grid-list cols="2" rowHeight="7:3">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>
          <pre><h1>Fitness Lanka.lk</h1>
            <h2>
          Time for fitness....</h2></pre>
        
        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>
          <a routerLink="/login"><button>
          Register your institute under FitnessLanka
          </button></a>
        </mat-grid-tile>
      </mat-grid-list>
</div>
